# Copy this file to .env and fill in your values.
# Then use it with `docker run --env-file .env ...` or the `env_file: .env` directive in docker-compose.yml
# See the "Parameters" section of the README for details about each variable.

IDRAC_HOST=<iDRAC IP address, or "local">
IDRAC_USERNAME=<iDRAC username>
IDRAC_PASSWORD=<iDRAC password>
FAN_SPEED=<decimal or hexadecimal fan speed>
CPU_TEMPERATURE_THRESHOLD=<decimal temperature threshold>
CHECK_INTERVAL=<seconds between each check>
DISABLE_THIRD_PARTY_PCIE_CARD_DELL_DEFAULT_COOLING_RESPONSE=<true or false>
KEEP_THIRD_PARTY_PCIE_CARD_COOLING_RESPONSE_STATE_ON_EXIT=<true or false>
MONITORING_ONLY_MODE=<true or false>
